<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login_Servlet</servlet-name>
  	<display-name>Login_Servlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.Login_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelOrderServlet</servlet-name>
  	<display-name>CancelOrderServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderNowServlet</servlet-name>
  	<display-name>OrderNowServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOutServlet</servlet-name>
  	<display-name>CheckOutServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuantityIncDecServlet</servlet-name>
  	<display-name>QuantityIncDecServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFromCartServlet</servlet-name>
  	<display-name>RemoveFromCartServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogServlet</servlet-name>
  	<display-name>LogServlet</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.LogServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelOrder</servlet-name>
  	<display-name>CancelOrder</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuantityIncDecServlett</servlet-name>
  	<display-name>QuantityIncDecServlett</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderNowServlett</servlet-name>
  	<display-name>OrderNowServlett</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFromCartServlett</servlet-name>
  	<display-name>RemoveFromCartServlett</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlett</servlet-name>
  	<display-name>LogoutServlett</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOutServlett</servlet-name>
  	<display-name>CheckOutServlett</display-name>
  	<description></description>
  	<servlet-class>cn.techtutorial.servlet.CheckOutServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
      <servlet-name>Login_Servlet</servlet-name>
  	<url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelOrderServlet</servlet-name>
  	<url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderNowServlet</servlet-name>
  	<url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckOutServlet</servlet-name>
  	<url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuantityIncDecServlet</servlet-name>
  	<url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFromCartServlet</servlet-name>
  	<url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogServlet</servlet-name>
  	<url-pattern>/LogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelOrder</servlet-name>
  	<url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuantityIncDecServlett</servlet-name>
  	<url-pattern>/QuantityIncDecServlett</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderNowServlett</servlet-name>
  	<url-pattern>/OrderNowServlett</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFromCartServlett</servlet-name>
  	<url-pattern>/RemoveFromCartServlett</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlett</servlet-name>
  	<url-pattern>/LogoutServlett</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckOutServlett</servlet-name>
  	<url-pattern>/CheckOutServlett</url-pattern>
  </servlet-mapping>
  	

  </web-app>
